@model List<ProjectQT.ViewModel.ReportModel.OrderReport>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    var xLabels = Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.xLabels);
    var yValues = Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.yValues);
    var y2Values = Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.y2Values);
}

<div class="col-12 no-print">
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">
                Statistical chart
            </h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-widget="remove"><i class="fas fa-times"></i></button>
            </div>
        </div>
        <div class="card-body">
            <div class="chart">
                <canvas id="chart" style="height:500px"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 no-print">
        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title">Search</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-widget="remove"><i class="fas fa-times"></i></button>
                </div>
            </div>
            <div class="card-body">
                <form >
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label>Product Name</label>
                            <input type="text" id="nameProductFilter" class="form-control">
                        </div>
                        <div class="form-group col-md-3">
                            <label>Date</label>
                            <input type="text" class="form-control" id="dateFilter" onclick="clearInputMonthYear()">
                        </div>
                        <div class="form-group col-md-3">
                            <label>Month</label>
                            <input onclick="clearInputDayYear()" type="text" id="monthFilter" class="form-control datetimepicker-input" data-toggle="datetimepicker" data-target="#monthFilter">
                        </div>
                        <div class="form-group col-md-3">
                            <label>Year</label>
                            <input onclick="clearInputDayMonth()" type="text" id="yearFilter" class="form-control datetimepicker-input" data-toggle="datetimepicker" data-target="#yearFilter">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <input id="btnSearch" type="button" class="btn btn-primary" value="Tìm" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<body>
    <div id="loadReport" class="row">
    </div>
</body>

<!-- /.content -->
<script>
        function clearInputMonthYear() {
            document.getElementById('monthFilter').value = '';
        document.getElementById('yearFilter').value = '';
    }
    function clearInputDayYear() {
            document.getElementById('dateFilter').value = '';
        document.getElementById('yearFilter').value = '';
    }
    function clearInputDayMonth() {
            document.getElementById('monthFilter').value = '';
        document.getElementById('dateFilter').value = '';
    }
    function printReport() {
            window.print();
        }
</script>
@section scripts
{
    <script>
        $(function () {

            //Date range picker
            $('#dateFilter').daterangepicker(
                {
                    autoUpdateInput: false,
                    singleDatePicker: true,
                    locale: 'vi'
                }, function (chosenDate) {
                    $('#dateFilter').val(chosenDate.format('DD/MM/YYYY'));
                });
        })
    </script>
    <script type="text/javascript">
        $(function () {
            $('#monthFilter').datetimepicker({
                viewMode: 'years',
                format: 'MM/YYYY',
                locale: 'vi'
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $('#yearFilter').datetimepicker({
                viewMode: 'years',
                format: 'YYYY',
                locale: 'vi'
            });
        });
    </script>
    <script>

        $(function () {
            GetReport();
        });
        $('#btnSearch').on('click',
            function (e) {
                var dateModel = {
                    nameProduct: $('#nameProductFilter').val(),
                    endDate: $('#dateFilter').val(),
                    monthDate: $('#monthFilter').val(),
                    yearDate: $('#yearFilter').val()
                };
                GetReport(dateModel);
            });

        function GetReport(dateModel) {
            $.ajax({
                url: '/Admin/Report/FilterReport',
                type: 'POST',
                cache: false,
                async: true,
                dataType: "html",
                data: dateModel
            })
                .done(function (result) {
                    $('#loadReport').html(result);
                }).fail(function (xhr) {
                    console.log('error : ' + xhr.status + ' - ' + xhr.statusText + ' - ' + xhr.responseText);
                });
        }
    </script>

    <script type="text/javascript">
        $(function () {
    var chartName = "chart";
        var ctx = document.getElementById(chartName).getContext('2d');
        var data = {
                labels: @Html.Raw(xLabels),
                datasets: [
                  {
                    label               : 'Buys',
                    backgroundColor     : 'rgba(60,141,188,0.9)',
                    borderColor         : 'rgba(60,141,188,0.8)',
                    pointRadius          : false,
                    pointColor          : '#3b8bba',
                    pointStrokeColor    : 'rgba(60,141,188,1)',
                    pointHighlightFill  : '#fff',
                    pointHighlightStroke: 'rgba(60,141,188,1)',
                    data                : @Html.Raw(yValues),
                  },
                  {
                    label               : 'Views',
                    backgroundColor     : 'rgba(210, 214, 222, 1)',
                    borderColor         : 'rgba(210, 214, 222, 1)',
                    pointRadius         : false,
                    pointColor          : 'rgba(210, 214, 222, 1)',
                    pointStrokeColor    : '#c1c7d1',
                    pointHighlightFill  : '#fff',
                    pointHighlightStroke: 'rgba(220,220,220,1)',
                    data                : @Html.Raw(y2Values),
                  }
                ]
            };

var options = {
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0,
                            beginAtZero: true,

                        },
                        gridLines: {
                            display: true,
                            color: "rgba(255,99,164,0.2)"
                        }
}],
                    xAxes: [{
                        ticks: {
                            min: 0,
                            beginAtZero: true
                        },
                        gridLines: {
                            display: false
                        }
                    }]

                },
                tooltips: {

                }

            };
           var myChart = new  Chart(ctx, {
                    options: options,
                    data: data,
                    type:'bar'
                });
            });
    </script>

}

