
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner_inner py-lg-5 py-3" style="margin-bottom: 3em;">
    <div class="services-breadcrumb">
        <div class="inner_breadcrumb">

            <ul class="short">
                <li>
                    <a href="/">Home</a>
                    <i>|</i>
                </li>
                <li>About</li>
            </ul>
        </div>
    </div>

</div>
<div class="row" style="height: 350px; margin-bottom: 5%;">
    <div class="col-6" style="padding-right: 0px;">
        <img src="~/Content/images/banner1.jpg" style="width: 100%; height: 100%;" alt="Alternate Text" />
    </div>
    <div class="col-6" style="background-color: #F5F5F5; padding-left: 0px;">
        <h1 style="padding: 1em 2em;">About Us</h1>
        <div style="padding: 1em 2em;">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
    </div>
</div>

<div style="text-align: center;">
    <h1 style="margin-bottom: 2em;">Partner</h1>
    <div class="row">
        <div class="col-3" style="height: 300px;">
            <img src="~/Content/images/team1.jpg" style="width: 100%; height: 100%;" alt="Alternate Text" />
        </div>
        <div class="col-3" style="height: 300px;">
            <img src="~/Content/images/team2.jpg" style="width: 100%; height: 100%;" alt="Alternate Text" />
        </div>
        <div class="col-3" style="height: 300px;">
            <img src="~/Content/images/team3.jpg" style="width: 100%; height: 100%;" alt="Alternate Text" />
        </div>
        <div class="col-3" style="height: 300px;">
            <img src="~/Content/images/team4.jpg" style="width: 100%; height: 100%;" alt="Alternate Text" />
        </div>

    </div>
</div>

